.container__footer-div-address {
    text-align: center;

    @media screen and (min-width: 768px) {
        margin-right: auto;
        margin-left: 61px;
    }

    @media screen and (min-width: 1200px) {
        text-align: left;
    }
}

.address {
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
    }
}

.footer-list .footer-list__item {
    margin-bottom: 12px;

    &:last-child {
        margin-bottom: 0px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 9px;

        text-align: left;
    }
}

.footer-list__link {
    color: #FFFFFF;
    font-style: normal;
    line-height: 1.74;
    text-decoration: none;
}

.footer-list__address-mail,
.footer-list__address-tel {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.74;
    text-decoration: none;
}