.company-icon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.company-icon-list .company-icon-list__item {
    margin-right: 30px;
    margin-bottom: 30px;
    width: 210px;
    height: 92px;

    &:nth-child(2n + 2) {
        margin-right: 0;
    }

    &:nth-child(n + 5) {
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;

        margin-bottom: 0;
        width: 170px;

        &:nth-child(2n + 2) {
            margin-right: 30px;
        }
    }
}

.company-icon-list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
        border-radius: 4px;
    }
}