.page-footer {
    min-width: 480px;
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2F303A;
}

.page-footer__flex {
    display: block;

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.container__footer-div-contact {
    text-align: center;
    margin-bottom: 60px;

    @media screen and (min-width: 1200px) {
        margin-left: 70px;
        margin-bottom: 0;

        text-align: left;
    }
}

.container__come-in {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 20px;

    color: #FFFFFF;
}

.container__subscribe {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}