.modal-form__data-text {
    margin: 0;

    width: 370px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: center;
    
    color: #212121;

    @media screen and (min-width: 1200px) {
        width: 448px;
        line-height: 1.15;
    }
}